.main{padding:20px;overflow:hidden;}
.main input[type=text],.main input[type=password]{height:12px;}
.main select{line-height:30px;height:30px;}
.main h3{line-height:40px;border-bottom:1px dashed #ccc;}
.main dl{float:left;padding:5px 10px;width:580px;overflow:hidden;}
.main dd{margin:10px;line-height:30px;}
.main dd .success,.main dd .error{line-height:14px;}
.main dd label{float:left;padding-right:5px;width:120px;text-align:right;}
.main dd input.title{width:360px;}
.main dd input.num{width:100px;}
.main dd button{margin-left:125px;line-height: 28px;border:1px solid #52BFFF;background-color:#0073B6;color:#FFF;}
.main dd button:hover{border:1px solid #0073B6;background-color:#52BFFF;}