html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
html, textarea{font-family:helvetica,Arial;}
body{line-height:1.5;font-size:12px;}
ol, ul{list-style:none;list-style-image:none;margin:0;padding:0;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:rgba(0, 0, 0, 0);}
a{color:#666;text-decoration:none;}
a:hover{color:#FE4C40;}
h1, h2, h3, h4, h5, h6{font-family:"微软雅黑";}
.btn{display:block;text-align:center;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;}
.default-shadow{-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .1);box-shadow:0 1px 3px rgba(0, 0, 0, .1);border:1px solid #DADADA;}
.avatar{border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;}